.wrapper{
    min-height: 100vh;
    padding-top: 100px;
}


.clear-all {
    background-color: #D94452 !important;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    align-items: flex-start;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 30%;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    margin-top: 20px;
}

.clear-all:hover{
    background: #97242f !important;
}

.filter-item input[type="checkbox"] {
    display: none;
}

.filter-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.filter-item label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.filter-item input[type="checkbox"]:checked+label:before {
    background-color: #A7B1E9;
    border-color: #A7B1E9;
}

.no-items-message {
    font-size: 24px;
    display: flex;
    margin: 50px 0px;
}

.loading-message {
    margin: 100px auto;
}


.item{
    color: #333;
    text-decoration: none;
    background-color: #EBEBEB !important;
}

.item-image{
    margin: 0 auto;
    background-color: #EBEBEB !important;
}

.item-name, .item-price{
    background-color: #EBEBEB !important;
}


.transparent-item {
    opacity: 0.3 !important;
}

@media screen and (max-width: 480px) {
    * {
        font-size: 10px;
    }

    .wrapper {
        width: 100%;
        margin-left: 0;
        font-size: 10px;
    }

    .filters {
        width: 40%;
        margin: 20px 0;
        font-size: 10px;
        padding: 20px 0;
        margin-left: 10px;
    }

    .filter-title {
        font-size: 10px;
        display: flex;
    }

    .content {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item {
        height: fit-content;
        font-size: 10px;
    }

    .item-image {
        width: 200px !important;
    }

    .filter-item label {
        font-size: 10px;
    }

    .clear-all {
        font-size: 10px;
        height: 40px;
        width: 60px;
    }
}